body {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;0,800;0,900;1,100;1,200;1,500;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'odinFont';
    src: url("public/Norse-Bold.otf");
}

.sideCover {
    position: relative;
    height: 100vh;
    display: inline;

}

.main {
    height: 100vh;
}

.back-img {
    height: 100vh;
    position: absolute;
}

.midcover {
    position: relative;
    font-family: 'odinFont';
    color: white;
    font-size: 90px;
    height: 20vh;
    top: 200px;
    width: 615px;
    background: hsla(0, 0%, 0%, 0.5);
}

.logoDiv {
    position: relative;
    width: 20vh;
    align-content: center;
    left: 180px;

}

#coverFont {
    position: relative;
    left: 130px;
    bottom: 40px;
}


.front-img {
    position: absolute;
    width: 120px;

}

/* Form css code */

.registerForm {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
    position: relative;
    left: 39%;
    line-height: 1.5;
}

.textContent {
    position: relative;
    bottom: 100px;
    right: 30px;
    font-size: 30px;
}

#textContentP {
    line-height: 1.5;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
}

.row {
    display: flex;
    gap: 30px;
}

.mainform {
    position: relative;
    bottom: 100px;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
    right: 100px;
    color: rgb(54, 54, 54);
    width: 100vw;
    height: 30vh;
    box-shadow: 3px 3px 10px rgb(196, 194, 194);
}

input {
    text-decoration: none;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 2px;
    height: 20px;
}

input:invalid {
    border: 1px solid red;
}

.btn {

    background-color: #596D48;
    color: white;
    line-height: 1.5;
    font-family: "Poppins", serif;
    font-weight: 900;

    font-size: 20px;
    border-radius: 9px;
    width: 240px;
    height: 40px;
}

g {
    color: #596D48;
}